<div class="p-register">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Mã hóa văn bản</h1>
                <form action="/thuat-toan-des" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nhập chuỗi cần mã hóa</label>
                        <input type="text" class="form-control" name="vanban">
                    </div>
                    <% if(mahoa !=""){ %>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Chuỗi mã hóa</label>
                    <input type="text" class="form-control" value="<%= mahoa %>" name="email">
                    </div>
                    <% } %>
                    <!-- <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                    </div> -->
                    <button type="submit" class="btn btn-primary">Mã hóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
