extends ../layout

block content
  h1= title
  p Welcome to #{title}
  h1 
    a(href="/club") Back to Index
  div 
    form(action="/club/create", method="post", enctype="multipart/form-data")  
      |Name
      input(type="text", name='name', required)
      br
      br
      |Values 
      input(type="number", name='value', required)
      br
      br
      |Logo: 
      input(type="file", name="image", required)
      br
      br
      input(type="submit", value="Add Club")

