extends ../layout

block content
  h1= title
  p Welcome to #{title}
  div 
    a(href="/products") Back to Product list 
  br
  div 
    form(action="/products/create", method="post", enctype="multipart/form-data") 
      |Product name: 
      input(type="text", name='name')
      br
      br
      |Product price: 
      input(type="number", name="price")
      br
      br
      |Product image: 
      input(type="file", name="image")
      br
      br
      input(type="submit", value="Create")