extends layout

block content
  h1= title
  h2= name
  p Welcome to #{title}
  h1 
    a(href="/articles") Back To List Article
  div 
    form(action="/articles/create", method="post")
        |Title 
        input(type="text", name="title")
        br 
        |Content 
        textarea(name="content", cols="80", rows="10") 
        br
        br
        input(type="submit", name="Create")
  hr
  
                
  